h1{
    color: aqua;
    text-align: center;
}
.topdiv{
    border: 5px solid tomato;
    border-style:solid;
    width: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-left-color: aqua;
    border-right-color: aqua;
    background-color: black;
    box-shadow: 20px 10px 10px rgb(211, 139, 139);
    margin: auto;
}
