/* body {
    background-image: url("fb08.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */
  body{
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
    color: aqua;
    text-align: center;
}
.topdiv{
    border: 5px solid tomato;
    border-style:solid;
    width: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-left-color: aqua;
    border-right-color: aqua;
    background-color: black;
    box-shadow: 5px 10px 10px rgb(56, 51, 51);
    margin:auto;
}
.boxes{
    width: 200px;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgb(240, 20, 20);
}
h3{
    margin-top: 10px;
    text-align: center;
    background-color: aquamarine;
}
.boxcent{
    display: flex;
    justify-content: center;
}